/*dashboard page*/
.menuBar {
  display: block;
  float: top;
  background-color: #fb8f02;
}

.logo {
  width: 100%;
}

/*refers to "log out" and "dashboard" buttons */
.rightAlign {
  display: block;
  font-family: arial;
  list-style: none;
  float: right;
  text-align: right;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #7eacf2;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.rightAlign:hover {
  background-color: #5b91e3;
}

/*stat box*/
.statBox {
  margin-top: 35px;
  display: box;
  font-family: arial;
  float: left;
  text-align: center;
  background-color: #f9f6f1;
  padding: 10px 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 50px;
  height: 15px;
  border-radius: 5px;
  position: relative;
  margin-right: -50px;
  box-shadow: 0 2px #b2b2b2;
}

.redStat {
  margin-right: 5px;
  margin-top: 50px;
  text-align: center;
  color: #c10b0b;
}

.orangeStat {
  margin-right: 6px;
  margin-top: 50px;
  text-align: center;
  color: #f2a208;
}

.greenStat {
  margin-right: 6px;
  margin-top: 50px;
  text-align: center;
  color: #34b62f;
}

/*buttons with cohort names*/
.cohortButton {
  display: inline;
  white-space: nowrap;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  float: left;
  /*background-color: #313D52*/
  background-color: #313D52;
  padding: 25px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px #b2b2b2;
  font-size: 20px;
  font-family: arial;
}

.cohortButton:hover {background-color: #ec8806}

.cohortButton:active {
  background-color: #ec8806;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}


/* quiz page: 1) actual quiz part including profile pic and "show me the answer button" */
#quiz {
  background-color: #ffffff;
  padding: 100px;
}

.profilePic {
  display: block;
  margin: auto;
  background-color: #fdd38b;
  padding: 10px;
  width: relative;
  height: 200px;
  border-radius: 5px;
  text-align: center;
}

/* edited to be "show me the answer" button*/
.readyButton {
  display: block;
  margin: auto;
  padding: 10px 10px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5b91e3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
}

.readyButton:hover {background-color: #4e82d0}

.readyButton:active {
  background-color: #515151;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

/* quiz page - 2) answer part */

.studentName {
  font-family: Arial;
  text-align: center;
}

.answerCorrect {
  font-family: Arial;
  text-align: center;
}

.buttonContainer {
  display: block;
  text-align: center;
}

.gotItButton {
  width: 60px;
  height: 50px;
  background-color: #34b62f;
  color: white;
  font-family: Arial;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.gotItButton:hover {background-color: #0a6707}

.gotItButton:active {
  background-color: #0a6707;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.almostButton {
  width: 60px;
  height: 50px;
  background-color: #f2a208;
  color: white;
  font-family: Arial;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.almostButton:hover {background-color: #cc7811}

.almostButton:active {
  background-color: #cc7811;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.nopeButton {
  width: 60px;
  height: 50px;
  background-color: #c10b0b;
  color: white;
  font-family: Arial;
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #b2b2b2;
  margin-right: 10px;
}

.nopeButton:hover {background-color: #b03131}

.nopeButton:active {
  background-color: #b03131;
  box-shadow: 0 5px #b2b2b2;
  transform: translateY(4px);
}

.cohortButtonContainer {
/*  display: block;*/
/*  width: 100%;
  height: 20%;
/*  margin-left: 15px;
  margin-right: 15px;*/
  margin: 0 auto;
  /*padding-left: 25%;
  padding-right: 20%;*/
  overflow-x: auto;
}

.deckOptionsInput {
  height: 40%;
  margin-top: 10px;
}

.toggleButton {
  padding-right: 10px;
}

.legacy {
  width: 50%;
  margin: 0 auto;
  overflow: auto;
}

.leaderBoard {
/*  display: inline-table;*/
  margin-top: 40px;
  margin: 0 auto;
  height: 40%;
  overflow: auto;
}